<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dev Blog</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header>
    <nav>
      <a href="/">Home</a>
      {{#if logged_in}}
      <a href="/dashboard">Dashboard</a>
      <a href="/api/users/logout">Logout</a>
      {{else}}
      <a href="/login">Login/Signup</a>
      {{/if}}
    </nav>
  </header>

  {{{body}}}

  <script src="/js/login.js"></script>
  <script src="/js/signup.js"></script>
</body>

</html>
