{{> navbar }}

<div class="post-container">
  {{#each posts}}
  <div class="post">
    <h2>{{title}}</h2>
    <p>By {{user.username}} on {{created_at}}</p>
    <a href="/post/{{id}}">Read More</a>
  </div>
  {{/each}}
</div>
