{{> navbar }}

<div class="signup">
  <h2>Create an Account</h2>
  <form class="signup-form">
    <input type="text" id="username" placeholder="Username" />
    <input type="password" id="password" placeholder="Password" />
    <button type="submit">Sign Up</button>
  </form>
</div>
