<div class="post">
  <h3>{{title}}</h3>
  <p>Posted on {{created_at}}</p>
  <button class="edit-post-btn" data-post-id="{{id}}">Edit</button>
  <button class="delete-post-btn" data-post-id="{{id}}">Delete</button>
</div>
